* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body {
  background-color:#FFFFFF;
}

.item-wrapper {
  border: 1px solid black;
  padding: 16px;
}

.item-list {
  border: none;
  cursor: pointer;
}

.item-list:focus-visible {
  border: none;
  outline: none;
}
